td {
    text-align: "center";
}

td.head {
    background-color: navy;
    color: white;
    font-size: 25pt;
}

td.left-hand {
    background-color: navy;
    color: white;
    font-size: 25pt;
}

td.data {
    text-align: center;
    font-size: 18pt;
}

td.no-data {
    background-color: black;
}

button {
    background-color: navy;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}