 <%- include('navbar') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<body>
Тут будет создание блога
    <textarea id="demo2"># This one autosaves!

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
	new SimpleMDE({
		element: document.getElementById("demo2"),
		spellChecker: false,
	});
	
	</script>

</body>